$primary-color: #333;
$secondary-color: #f7f7f7;
body {
  font-family: sans-serif;
  color: $primary-color;
  background-color: $secondary-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
